#!/bin/sh
default_con_FILE=/etc/gisled_default_connection
Hotspot_con_FILE=/etc/NetworkManager/system-connections/Hotspot.nmconnection

WLAN0_ENABLE=TRUE
SSID_DEFAULT=GISTLED_GGG
BAND_DEFAULT=a
CHANNEL_DEFAULT=44


if [ "$WLAN0_ENABLE" = "TRUE" ]; then
	echo "Wlan0 Enable"
else
	echo "Wlan0 Disable"
	ifconfig wlan0 down
	exit
fi

if [ "$SSID_DEFAULT" = "NONE" ]; then

	SN_FILE=/tmp/piusb/box_serial_number
	if [[ -f $SN_FILE ]];then
		SN=$(cat $SN_FILE)
		echo "SN:"$SN
	else
		mkdir -p /tmp/piusb
		mount /home/root/piusb.bin /tmp/piusb
		if [[ -f $SN_FILE ]];then
			SN=$(cat $SN_FILE)
		else
			SN="GISTLED"
		fi	
	fi
	SSID=$SN
else
	SSID=$SSID_DEFAULT

fi

echo "SSID:"$SSID
echo $default_con_FILE
if [ -f $default_con_FILE ];then
	default_con=$(</etc/gisled_default_connection)
	echo $default_con
fi

if [ "$default_con" == "Hotspot" ];then
	echo "setup_hotspot"
	nmcli con del Hotspot
        #rm /etc/NetworkManager/system-connections/Hotspot*.nmconnection
	nmcli con add type wifi ifname wlan0 con-name Hotspot autoconnect yes ssid $SSID
	nmcli con modify Hotspot 802-11-wireless.mode ap 802-11-wireless.band $BAND_DEFAULT 802-11-wireless.channel $CHANNEL_DEFAULT ipv4.method shared
	nmcli con modify Hotspot wifi-sec.key-mgmt wpa-psk
	nmcli con modify Hotspot wifi-sec.psk "54098493"
	nmcli con modify Hotspot ipv4.addresses 192.168.1.7/24
	nmcli con modify Hotspot ipv4.gateway 192.168.1.7
	nmcli con up Hotspot
else
  	echo "connect to " $default_con 
	nmcli con up "$default_con"
	route del default gw GISLED
fi

exit
